* {
	padding: 0;
	margin: 0;
}
header {
    background-color: rgba(132,167,199,0.9);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    font-family: 'Merriweather', serif;
}
h1 {
    position: absolute;
    left: 80px;
    top: 0;
    line-height: 80px;
    color: #000000;
    background-image: url(images/logo_de.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 210px;
    text-indent: -9999px;
}
header ul {
    position: absolute;
    right: 120px;
    top: 0;
    line-height: 80px;
    font-size: 21px;
    text-align: right;
}
header li {
    display: inline;
    margin-right: 20px;
}
header a {
    color: white;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Merriweather', serif;
}
.main_page {
    padding-top: 80px;
    width: 100%;
    display: flex;
    background-color: #84a7c7;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
}
.main_page img {
    width: 35%;
    margin-left: 140px;
}
.info_main_page {
    width:40%;
    flex-direction:column;
}
.info_main_page h2 {
    font-size:27px;
    margin-bottom: 40px;
    margin-top: 90px;
}
.info_main_page h3 {
    font-size:60px;
    margin-bottom: 40px;
}
.info_main_page p {
    font-size:27px;
    margin-bottom: 40px;
}
.info_main_page a {
    font-size:27px;
    margin-top: 300px;
    background-color:white;
    color:black;
    text-decoration: none;
    border-radius: 27px;
    padding: 18px 27px;
    text-decoration: none;
}
.info_main_page a:hover {
	text-decoration: underline;
}

footer {
    background-color: white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: relative;
}
footer h2 {
    position: absolute;
    left: 20px;
    height: 80px;
    color: #000000;
    background-image: url(images/footer-logo_de.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 210px;
    text-indent: -9999px;
}
.menu {
    display:none;
}
.language-selector {
    position: absolute;
    right: 10px;
    top: 50%; /* 将语言选择器垂直居中 */
    transform: translateY(-50%); /* 使用transform确保准确居中 */
    z-index: 2000;
}

#languageSelector {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Merriweather', serif;
    /* 可以根据需要进一步添加样式 */
}

@media screen and (max-width: 960px) {

nav {
    display: none; /* 默认隐藏导航栏 */
}

header h1 {
    left:50%;
    transform: translateX(-50%);
}
.main_page {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main_page img {
    order: -1;
    width: 80%;
    margin-left: 0;
}
.info_main_page {
    width:80%;
    flex-direction:column;
}
footer {
    flex-direction: column;
}
footer h2 {
    position: static;
}

.menu {
    display:block;
    background-color: transparent;
    color:white;
    font-size: 35px;
    position:absolute;
    top:15px;
    left:20px;
    border:none;
    cursor: pointer;
}
/* 修改导航栏样式，使其在窄屏幕上以下拉菜单的形式出现 */
nav {
    background-color: rgba(132,167,199,0.9); /* 背景色 */
    position: fixed; /* 改为固定定位 */
    top: 80px; /* 从按钮下方开始 */
    left: 0; /* 从左边开始 */
    width: 40%; /* 最大宽度为屏幕宽度的 100% */
    height: 100%; /* 最大高度为屏幕高度的 100% */
    overflow: auto; /* 内容超出时出现滚动条 */
    display: none; /* 默认隐藏 */
    z-index: 999; /* 确保在最上层 */
    white-space: nowrap; /* 防止文本折行 */
}

nav.active {
    display: block; /* 当添加 .active 类时显示导航栏 */
}
/* 调整菜单项样式 */
nav ul {
    list-style: none; /* 去除列表标记 */
    padding: 0; /* 移除内边距 */
    margin: 0; /* 移除外边距 */
}

nav li {
    padding: 0; /* 移除内边距 */
    margin: 0; /* 移除外边距 */
}

nav a {
    color: #FFFFFF; /* 链接颜色设为白色 */
    text-decoration: none; /* 移除下划线 */
    display: block; /* 使链接占据整个行空间 */
    margin-left: 20%; /* 增加内边距 */
    text-align: left; /* 文字左对齐 */
}
}


@media screen and (max-width: 600px) {
nav {
        display: none; /* 在窄屏模式下隐藏导航菜单 */
    background-color: rgba(132,167,199,0.9); /* 背景色 */
    position: fixed; /* 改为固定定位 */
    top: 80px; /* 从按钮下方开始 */
    left: 0; /* 从左边开始 */
    width: 60%; /* 最大宽度为屏幕宽度的 100% */
    height: 100%; /* 最大高度为屏幕高度的 100% */
    overflow: auto; /* 内容超出时出现滚动条 */
    display: none; /* 默认隐藏 */
    z-index: 999; /* 确保在最上层 */
    white-space: nowrap; /* 防止文本折行 */
}
/* 调整菜单项样式 */
nav ul {
    right: 60px;
    list-style: none; /* 去除列表标记 */
    padding: 0; /* 移除内边距 */
    margin: 0; /* 移除外边距 */
}
nav li {
    padding: 0; /* 移除内边距 */
    margin: 0; /* 移除外边距 */
}
nav a {
    color: #FFFFFF; /* 链接颜色设为白色 */
    text-decoration: none; /* 移除下划线 */
    display: block; /* 使链接占据整个行空间 */
    text-align: left; /* 文字左对齐 */
}
}
